/* For WebKit browsers (Chrome, Safari) */
.Frame22::-webkit-scrollbar {
    height: 10px; 
  }
  
  .Frame22::-webkit-scrollbar-track {
    background: #B9B9B9; 
    border-radius: 10px;
  }
  
  .Frame22::-webkit-scrollbar-thumb {
    background: #74B853; 
    border-radius: 10px; 
  }
