<nav
    class="fixed bottom-0 w-[430px] h-[93px] border-t bg-secondarySubtleGray rounded-t rounded-[40px] pt-5 pb-[30px] px-7">
    <div class="flex items-center justify-between h-full">
        <div class="flex space-x-4 ">
            @for (item of menulist.slice(0, 2); track item.path) {
            <div class="flex flex-col items-center justify-center space-y-2 h-11 w-[74px] cursor-pointer active:text-primaryGreen"
                [class]="isActive(item.path) ? 'text-primaryGreen' : 'text-secondarySoftGrey'"
                (click)="navigateTo(item.path)">
                <span class="mdi {{item.icon}} text-2xl w-6 h-6 flex items-center justify-center"></span>
                <span class="text-10px">{{item.name}}</span>
            </div>
            }
        </div>

        <div class="flex flex-col items-center relative -top-10 w-[56px] h-[56px] cursor-pointer"
            (click)="navigateTo('/home')">
            <div class="bg-primaryGreen rounded-full flex items-center justify-center h-12 w-12 border-4 border-primarySubtleGreen"
                [class]="isActive('/home') ? 'bg-primaryWhite' : 'bg-primaryGreen'">
                <span class="mdi mdi-home text-2xl"
                    [class]="isActive('/home') ? 'text-primaryGreen' : 'text-primaryWhite'"></span>
            </div>
        </div>

        <div class="flex space-x-4">
            @for (item of menulist.slice(2); track item.path) {
            <div class="flex flex-col items-center justify-center space-y-2 h-11 w-[74px] cursor-pointer active:text-primaryGreen"
                [class]="isActive(item.path) ? 'text-primaryGreen' : 'text-secondarySoftGrey'"
                (click)="navigateTo(item.path)">
                <span class="mdi {{item.icon}} text-2xl w-6 h-6 flex items-center justify-center"></span>
                <span class="text-10px">{{item.name}}</span>
            </div>
            }
        </div>
    </div>
</nav>