<div class="Frame29 flex h-14 justify-between items-center ">
    <div class="Frame27 flex space-x-3">
        <div class="Badges w-14 h-14 rounded-full bg-secondarySoftGrey">
        </div>
        <div class="Frame26 flex flex-col space-y-2 w-[170px] h-14 font-medium">
            <h2 class="text-primaryBlack w-[135px] h-6">Ahmad Rahmanu</h2>
            <div class="Frame33 flex space-x-2 w-[170px] h-6">
                <span class="bg-primaryYellow w-[69px] h-6 rounded-full p-1 flex items-center space-x-[3px] text-primaryWhite">
                    <span class="mdi mdi-star text-base w-4 h-4 flex items-center"></span>
                    <h3 class="text-10px w-[42px] h-3 flex items-center">Level 26</h3>
                </span>
                <span class="bg-primaryRed w-[93px] h-6 rounded-full p-1 flex items-center space-x-[3px] text-primaryWhite">
                    <span class="mdi mdi-database text-base w-4 h-4 flex items-center"></span>
                    <h3 class="w-[66px] h-3 text-10px flex items-center"> Points 2536</h3>
                </span>
            </div>
        </div>
    </div>
    <div class="Frame28 flex  w-20 h-6 space-x-8 text-primaryDarkBlack">
        <span class="mdi mdi-bell-ring-outline text-2xl w-6 h-6 flex items-center"></span>
        <span class="mdi mdi-wallet-giftcard text-2xl w-6 h-6 flex items-center"></span>
    </div>
</div>
