<app-statusbar></app-statusbar>
<div class="px-8">
    <div class="Layou grid gap-y-5 font-ubuntu">
        <app-yourself class="sticky top-0 bg-primaryWhite z-10"></app-yourself>
        <div
            class="Group27 w-[366px] h-[178px] bg-secondaryLightGray rounded-[32px] flex items-center justify-center space-x-2">
            <div class="flex flex-col space-y-6">
                <h3 class="text-primaryDarkBlack text-lg font-bold">
                    Playing together with
                    <br />
                    your friends!
                </h3>
                <button
                    class="flex bg-primaryGreen text-primaryWhite w-[149px] h-[32px] space-x-4 items-center justify-center rounded-full text-xs font-bold">
                    <h4>+</h4>
                    <h4>Invite friends</h4>
                </button>
            </div>

            <div class="bg-secondarySoftGrey w-[150px] h-[150px]"></div>
        </div>

        <div class="Frame35 flex justify-between w-[366px] h-[21px] items-center">
            <h3 class="text-lg text-primaryDarkBlack font-bold w-[80px] h-[21px] items-center flex">
                Category
            </h3>
            <div class="Frame38 w-[58px] h-4 flex text-secondarySoftGrey items-center space-x-2">
                <p class="w-[34px] h-3 text-10px font-medium leading-3">See all</p>
                <span class="mdi mdi-chevron-right w-4 h-4 text-base flex items-center"></span>
            </div>
        </div>

        <div class="Frame34 w-[366px] h-[100px]">
            <div class="absolute flex space-x-4">
                @for (reward of rewards; track reward) {
                <div
                    class="Group26 w-[192px] h-[100px] bg-secondaryLightGray rounded-[16px] flex items-center justify-center">
                    <div class="flex space-x-2 items-center">
                        <div class="Frame33 w-[83px] h-14 flex flex-col space-y-1">
                            <p class="w-[83px] h-6 text-base font-medium text-primaryDarkBlack">
                                {{ reward.subject }}
                            </p>
                            <div class="Frame32 w-[43px] h-7 flex flex-col space-y-1">
                                <p class="w-[31] h-3 font-medium text-8px leading-3 text-secondarySoftGrey">
                                    {{ reward.rewardType }}
                                </p>
                                <div class="Frame26 w-[43px] h-3 flex space-x-1 text-primaryRed">
                                    <span class="mdi mdi-database text-sm flex items-center"></span>
                                    <p class="w-[27px] h-3 font-medium text-8px leading-3">
                                        + {{ reward.points }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="w-[84px] h-[84px] bg-secondarySoftGrey"></div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="Frame35 flex justify-between w-[366px] h-[21px] items-center">
            <h3 class="text-lg text-primaryDarkBlack font-bold w-[110px] h-[21px] items-center flex">
                Leaderboard
            </h3>
            <div class="Frame38 w-[78px] h-4 flex text-secondarySoftGrey items-center space-x-2">
                <p class="w-[54px] h-3 text-10px font-medium leading-3">View more</p>
                <span class="mdi mdi-chevron-right w-4 h-4 text-base flex items-center"></span>
            </div>
        </div>

        <div class="Frame39 flex w-[366px] h-[72px] bg-secondaryLightGray items-center space-x-5 rounded-[16px] px-2">
            <div class="flex w-[176px] h-14">
                <div class="z-10 bg-secondarySoftGrey rounded-full w-14 h-14"></div>
                <div class="z-20 -ml-4 bg-secondarySoftGrey rounded-full w-14 h-14"></div>
                <div class="z-30 -ml-4 bg-secondarySoftGrey rounded-full w-14 h-14"></div>
                <div class="z-40 -ml-4 bg-secondarySoftGrey rounded-full w-14 h-14"></div>
            </div>
            <span class="w-[131px]">
                <p class="text-10px text-primaryBlack font-medium">
                    You are number 7 among
                    <br />
                    your 215 Friends
                </p>
            </span>
        </div>

        <div class="Frame35 flex justify-between w-[366px] h-[21px] items-center">
            <h3 class="text-lg text-primaryDarkBlack font-bold w-[76px] h-[21px] items-center flex">
                Recently
            </h3>
            <div class="Frame38 w-[78px] h-4 flex text-secondarySoftGrey items-center space-x-2">
                <p class="w-[54px] h-3 text-10px font-medium leading-3">View more</p>
                <span class="mdi mdi-chevron-right w-4 h-4 text-base flex items-center"></span>
            </div>
        </div>

        @for (question of questions; track question) {
        <div
            class="Frame43 w-[366px] h-[68px] bg-secondaryLightGray rounded-[16px] flex items-center justify-between px-2">
            <div class="flex w-[236px] h-[52px] space-x-4">
                <div class="bg-secondarySoftGrey w-[52px] h-[52px]"></div>
                <div class="flex flex-col space-y-1">
                    <span>
                        <p class="text-10px font-medium">{{question.category}}</p>
                    </span>
                    <h4 class="text-xs font-bold text-primaryBlack">
                        {{question.text}}
                        <br />
                        {{question.insert}}
                    </h4>
                </div>
            </div>
            <div class="radial-progress text-10px" [class]="getProgressColor(question.progress)"
                [style.--value]="question.progress" style="--size: 2rem; --thickness: 1px" role="progressbar">
                {{question.progress}}%
            </div>
        </div>
        }
    </div>
</div>
<app-navigation-bar></app-navigation-bar>